<!doctype html>
	<html lang="en">
	  <head>
	    <title>Contact Legal gate</title>
	    <!-- Required meta tags -->
	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	    <!-- Bootstrap CSS -->
	    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
	  </head>
	  <body>
	  	<div class='text-center'>
	  	<h1>Hi there, You're in Legal gate!</h1>
	  	<h1>{{title}}</h1>
	    <h4>
	    	<a href="http://127.0.0.1:8000/register">Register</a>&nbsp
	    	<a href="http://127.0.0.1:8000/admin">Admin</a>&nbsp
	    	<a href="http://127.0.0.1:8000">Home</a>&nbsp
	    	<a href="http://127.0.0.1:8000/contact/">Contact</a>&nbsp
	    	<a href="http://127.0.0.1:8000/about/">About</a>&nbsp
	    	<a href="http://127.0.0.1:8000/login/">Login</a>&nbsp
	    </h4>
	   	</div>
	    <div class='container'>
	    	<div class='row'>
	    		<div class='col'>
	    			<p>{{ content }}</p>
	    				<div class='col-sm-6 col-12'>
	    				<form method='POST'> {% csrf_token %}
								  {{ form }}
						<button type='submit' class='btn btn-default'>Submit</button>
						</form>
		    			</div>   			
	    		</div>	
	    	</div>	
	    </div>
	    <!-- Optional JavaScript -->
	    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
	    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
	    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
	  </body>
	</html>





